# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.ipch
*.db-wal
*.db-shm
*.db
*.pdb
*.user
*.filters
*.suo
*.idb
*.tlog
*.opendb
*.sln
*.slnx
*.vcxproj
*.recipe
*.exe.recipe
*.log
*.ilk

.vs/
libScnry/obj/
TestOut/